main {
  --color-prettylights-syntax-comment: #8089b3;
  --color-prettylights-syntax-constant: #ff9e64;
  --color-prettylights-syntax-entity: #7aa2f7;
  --color-prettylights-syntax-storage-modifier-import: #c0caf5;
  --color-prettylights-syntax-entity-tag: #9ece6a;
  --color-prettylights-syntax-keyword: #bb9af7;
  --color-prettylights-syntax-string: #9ece6a;
  --color-prettylights-syntax-variable: #ff9e64;
  --color-prettylights-syntax-brackethighlighter-unmatched: #f7768e;
  --color-prettylights-syntax-invalid-illegal-text: #1a1b26;
  --color-prettylights-syntax-invalid-illegal-bg: #f7768e;
  --color-prettylights-syntax-carriage-return-text: #1a1b26;
  --color-prettylights-syntax-carriage-return-bg: #f7768e;
  --color-prettylights-syntax-string-regexp: #9ece6a;
  --color-prettylights-syntax-markup-list: #e0af68;
  --color-prettylights-syntax-markup-heading: #7aa2f7;
  --color-prettylights-syntax-markup-italic: #c0caf5;
  --color-prettylights-syntax-markup-bold: #c0caf5;
  --color-prettylights-syntax-markup-deleted-text: #f7768e;
  --color-prettylights-syntax-markup-deleted-bg: #f7768e26;
  --color-prettylights-syntax-markup-inserted-text: #9ece6a;
  --color-prettylights-syntax-markup-inserted-bg: #9ece6a26;
  --color-prettylights-syntax-markup-changed-text: #ff9e64;
  --color-prettylights-syntax-markup-changed-bg: #ff9e6426;
  --color-prettylights-syntax-markup-ignored-text: #1a1b26;
  --color-prettylights-syntax-markup-ignored-bg: #7aa2f7;
  --color-prettylights-syntax-meta-diff-range: #bb9af7;
  --color-prettylights-syntax-brackethighlighter-angle: #8089b3;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #565f89;
  --color-prettylights-syntax-constant-other-reference-link: #9ece6a;
  --color-btn-text: #c0caf5;
  --color-btn-bg: #16161e;
  --color-btn-border: #292e42;
  --color-btn-shadow: none;
  --color-btn-inset-shadow: none;
  --color-btn-hover-bg: #16161e;
  --color-btn-hover-border: #7aa2f7;
  --color-btn-active-bg: #292e42;
  --color-btn-active-border: #7aa2f7;
  --color-btn-selected-bg: #292e42;
  --color-btn-primary-text: #1a1b26;
  --color-btn-primary-bg: #7aa2f7;
  --color-btn-primary-border: #7aa2f7;
  --color-btn-primary-shadow: none;
  --color-btn-primary-inset-shadow: none;
  --color-btn-primary-hover-bg: #7aa2f7;
  --color-btn-primary-hover-border: #c0caf5;
  --color-btn-primary-selected-bg: #7aa2f7;
  --color-btn-primary-selected-shadow: none;
  --color-btn-primary-disabled-text: #1a1b26;
  --color-btn-primary-disabled-bg: #7aa2f780;
  --color-btn-primary-disabled-border: #292e42;
  --color-action-list-item-default-hover-bg: #7aa2f726;
  --color-segmented-control-bg: #16161e;
  --color-segmented-control-button-bg: #1a1b26;
  --color-segmented-control-button-selected-border: #7aa2f7;
  --color-fg-default: #c0caf5;
  --color-fg-muted: #a9b1d6;
  --color-fg-subtle: #8089b3;
  --color-canvas-default: #1a1b26;
  --color-canvas-overlay: #1a1b26;
  --color-canvas-inset: #16161e;
  --color-canvas-subtle: #16161e;
  --color-border-default: #292e42;
  --color-border-muted: #222436;
  --color-neutral-muted: #c0caf51a;
  --color-accent-fg: #7aa2f7;
  --color-accent-emphasis: #7aa2f7;
  --color-accent-muted: #7aa2f766;
  --color-accent-subtle: #7aa2f71f;
  --color-success-fg: #9ece6a;
  --color-attention-fg: #e0af68;
  --color-attention-muted: #e0af6866;
  --color-attention-subtle: #e0af681f;
  --color-danger-fg: #f7768e;
  --color-danger-muted: #f7768e66;
  --color-danger-subtle: #f7768e1f;
  --color-primer-shadow-inset: none;
  --color-scale-gray-1: #292e42;
  --color-scale-blue-1: #7aa2f740;
  --color-social-reaction-bg-hover: var(--color-scale-gray-1);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-1);
}
main .pagination-loader-container {
  background-image: url(https://github.com/images/modules/pulls/progressive-disclosure-line.svg);
}
main .gsc-loading-image {
  background-image: url(https://github.githubassets.com/images/mona-loading-default.gif);
}
